@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: 
    url("./assets/background.png") no-repeat fixed center;
  background-size: cover;
}
